body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f4f8;
    font-family: Arial, sans-serif;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-img {
    height: 50px;
    margin-right: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #137657;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-submit:hover {
    background-color: #135776;
}
.error-message {
     color: #d9534f;
     text-align: center;
     margin-top: 15px;
}

.password-group {
    position: relative;
    width: 100%;
}

.password-group input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
    font-size: 18px;
}
.toggle-password:hover {
    color: #135776;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #555;
    text-decoration: none;
    transition: color 0.3s ease;
}

.back-link:hover {
    color: #135776;
}

.back-link i {
    margin-right: 8px;
}

.back-link-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.back-link-button:hover {
    background-color: #e0e0e0;
}